[Unit]
Description=Raspberry cpu temperature regulator through a fan that acts at a certain threshold

[Service]
ExecStart=/home/alarm/.cargo/bin/fanctrlrs -c /home/alarm/fanctrlrs/Config.toml
Restart=on-success
RestartSec=200ms
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
